<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th> <%= link_to 'Total Category',  [:admin, :categories] %></th>
          <th> <%= link_to 'Total Products',  [:admin, :products] %></th>
        </tr>
      </thead>
      <tbody>
        <tr> 
        <td> <%= @total %> </td>
        <td> <%= @categorie %> </td>
        </tr>
      </tbody>
    </table>

</div>